<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.theater.mapper.MembersMapper">

<!-- 회원가입 -->
<insert id="MemberInsert">
  insert all
    into members (userid,userpw,username,birth,gender,phone,email) 
        values (#{userid}, #{userpw}, #{username}, #{birth}, #{gender}, #{phone}, #{email})
    into member_auth (userid,auth) values (#{userid},'ROLE_USER')
  select*from dual
</insert>


<select id="idChk" resultType="int">
	SELECT COUNT(*) FROM MEMBERS
	WHERE userid = #{userid}
</select>

<select id="selectMember" resultType="com.theater.domain.MemberVO">
  select * from members where userid = #{userid}
  </select>
  
<update id="memberUpdate" parameterType="com.theater.domain.MemberVO">
   update members set 
   username = #{username},
   phone = #{phone},
   email = #{email}
   where userid = #{userid} 
</update>

<select id="pwChk" resultType="String">
    select count(*) from members <!--전체 비번 중복인걸 확인하는거라면 count 빼야 하는 것 아닌가...! 모르겠군 ㅋ int가 맞는지..?-->
    where userpw= #{userpw}
</select>

<select id="selectPw" resultType="String">
  select userpw from members where userid = #{userid}
  </select>
  
<update id="mypasspro">
update members set
userpw = #{userpw}
where userid = #{userid}
</update>

<select id="getRelist" resultType="com.theater.domain.ReListVO">

  <![CDATA[
        SELECT *
        FROM ( SELECT ROWNUM RN,
                A.*
              FROM (SELECT m.title AS title, m.subtitle AS subtitle, m.poster AS poster, s.seat_cd AS seat_cd
                  , t.tkt_date AS tkt_date, t.tkt_time AS tkt_time , t_name AS t_name , screen_name AS screen_name
              FROM ticketings t,movies m, sold_seats s,FILM_TIMETABLE ft,FILMS f ,SCREENS sc,THEATERS th
              WHERE t.tkt_cd = s.tkt_cd
              AND m.m_cd = t.m_cd
              AND s.S_T_CD =ft.S_T_CD 
              AND ft.FILM_CD = f.FILM_CD
              AND f.SCREEN_CD =sc.SCREEN_CD
              AND sc.T_CD = th.T_CD 
              AND t.id = #{id}
              ORDER BY t.tkt_cd DESC) A)
        WHERE RN > (#{pageNum}-1) * #{amount} AND RN <= #{pageNum} * #{amount}
  ]]>
</select>

<select id="memberSelect" resultType="com.theater.domain.MemberVO"> <!-- 위에 멤버 조회 있는데 굳이..? 만들어야 할가,,? 타입이,, 달라서,,?-->
select * from members
</select>

 <delete id="adminDelete">
  delete from members where userid=#{userid}
 </delete>
 
 <delete id="byebyespro">
 delete from members 
 where userid= #{userid}
 </delete>
 
 <select id="getTotal" resultType="int">
 SELECT 
  COUNT(*) 
  FROM ticketings t,movies m, sold_seats s,FILM_TIMETABLE ft,FILMS f ,SCREENS sc,THEATERS th 
  WHERE t.tkt_cd = s.tkt_cd 
  AND m.m_cd = t.m_cd 
  AND s.S_T_CD=ft.S_T_CD 
  AND ft.FILM_CD = f.FILM_CD 
  AND f.SCREEN_CD =sc.SCREEN_CD 
  AND sc.T_CD = th.T_CD 
  AND t.id = #{id} 
</select>

</mapper>