<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.theater.mapper.MovieMapper">
  <sql id="criteria">
    <trim prefix="(" suffix=") AND" prefixOverrides="OR">
      <foreach item="type" collection="typeArr">
              <!-- Criteria->이름 같으면 getTypeArr(자동 호출) 실행 -->
        <trim prefix="OR">
          <choose>
            <when test="type== 'T'.toString()">
              title like '%'||#{keyword}||'%'
            </when>
            <when test="type== 'C'.toString()">
              content like '%'||#{keyword}||'%'
            </when>
          </choose>
        </trim>
      </foreach>
    </trim>
  </sql>

  <!-- 영화 insert -->
  <insert id="movieInsertPro">
  <selectKey keyProperty="m_cd" order="BEFORE" resultType="int">
        select m_cd_seq.nextval from dual
      </selectKey>
    insert into movies (m_cd, title, subtitle, rdate, rtime, rate, intro, poster) values (#{m_cd}, #{title}, #{subtitle}, to_date(#{rdate},'YYYY-MM-DD HH24:MI:SS'), #{rtime},#{rate},#{intro}, #{poster})
  </insert> 
  
  <select id="movieList" resultType="com.theater.domain.MovieVO">
     <![CDATA[
        SELECT *
        FROM ( SELECT ROWNUM RN,
                A.*
              FROM (SELECT * FROM MOVIES
                    WHERE
        ]]> 
                    <if test="searchType == 'title'">TITLE LIKE '%'||#{searchName}||'%'</if>
                    <if test="searchType == 'intro'">INTRO LIKE '%'||#{searchName}||'%'</if>
                    <if test="searchType == null or searchType == ''"> 1=1</if>
        <![CDATA[
                    ORDER BY M_CD DESC) A)
        WHERE RN > (#{pageNum}-1) * #{amount} AND RN <= #{pageNum} * #{amount}
        ]]>


<!--     <![CDATA[ -->
<!--       select * from movies where m_cd > 0 order by m_cd desc -->
<!--     ]]> -->
    
  </select>
  
  <select id="read" resultType="com.theater.domain.MovieVO">
    select * from movies where m_cd = #{m_cd} 
  </select>
  
  <select id="nextPage" resultType="com.theater.domain.MovieVO">
    <![CDATA[
      select * from movies where m_cd < #{m_cd} and rownum=1 order by m_cd desc
    ]]>
  </select>
  
  <select id="prevPage" resultType="com.theater.domain.MovieVO">
    <![CDATA[
      select * from movies where m_cd > #{m_cd} and rownum=1 order by m_cd asc
    ]]>
  </select>
  
  <select id="movieListPaging" resultType="com.theater.domain.MovieVO">
    <![CDATA[
    select * from 
    ( 
      select /*+ index_desc(movies SYS_C007529) */ rownum rn, M_CD,TITLE,SUBTITLE,RDATE,RTIME,RATE,INTRO,POSTER from Movies
      where 
    ]]>
    <include refid="criteria"/>
    <![CDATA[
      rownum <= #{pageNum} * #{amount}
    ) 
    where rn > (#{pageNum}-1) * #{amount}
    ]]>
  </select>
  
  <select id="getTotal" resultType="int">
  SELECT COUNT(*) AS TOTAL FROM MOVIES
  WHERE  <if test="searchType == 'title'">TITLE LIKE '%'||#{searchType}||'%'</if>
         <if test="searchType == 'content'">INTRO LIKE '%'||#{searchType}||'%'</if>
         <if test="searchType == null or searchType == ''"> 1=1</if>
</select>
  
  
  <!-- View 페이지 -->
  <select id="movieSelect" resultType="com.theater.domain.MovieVO">
    select * from movies order by m_cd desc
  </select>
  
  <insert id="movieInfoInsertPro">
    insert all 
      into M_ACTORS (m_a_cd,m_cd,a_cd) values (m_a_cd_seq.nextval,#{m_cd},#{a_cd})
      into M_DIRECTORS (M_D_CD,M_CD,D_CD) values (m_d_cd_seq.nextval,#{m_cd},#{d_cd})
      into M_GENRES (M_G_CD,M_CD,G_CD) values (m_g_cd_seq.nextval,#{m_cd},#{g_cd})
      into M_NATIONS(M_N_CD,M_CD,N_CD) values (m_n_cd_seq.nextval,#{m_cd},#{n_cd})
      into M_STILLCUT(STILL_CD,M_CD,STILL_IMG1,STILL_IMG2,STILL_IMG3,STILL_IMG4) values(STILLCUT_SEQ.nextval,#{m_cd},#{still_img1},#{still_img2},#{still_img3},#{still_img4})
    select * from sys.dual
  </insert>
  
</mapper>
