<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.theater.mapper.NoticeMapper">
 
<!--  검색을 도와줌 -->
<select id="getList" resultType="com.theater.domain.NoticeVO">
<!--            검색된 결과를 noticeVO에 담는다     DB검색된 결과를 받는다 -->
<![CDATA[
  select * from notice where nt_cd >0
  ]]>
</select>

<!-- page 기법 처리/ 해당 페이지 검색 -->
  <select id="getListWithPaging" resultType="com.theater.domain.NoticeVO">
    <![CDATA[
    select bno,title,content,wdate,hits from(
      select /*+ index_desc(notice notice_pk)*/ rownum rn, nt_cd,title,content,wdate,hits
      from notice
      where
    ]]>
    
        
    <![CDATA[
    rownum <= #{pageNum} * #{amount}
    ) where rn > (#{pageNum}-1)*#{amount}
    ]]>
  </select>

<!--   검색결과 view -->
<select id="view" resultType="com.theater.domain.NoticeVO">
  select * from notice where nt_cd= #{nt_cd}
</select>

<!-- 조회수 -->
<update id="viewcount">
  update notice set hits= hits+ 1 where nt_cd= #{nt_cd}
</update>



<!-- page -->
<select id="nextPage" resultType="com.theater.domain.NoticeVO">
  <![CDATA[
    select * from notice where nt_cd< #{nt_cd} and rownum=1 order by nt_cd desc
    ]]>
</select>
<select id="prevPage" resultType="com.theater.domain.NoticeVO">
  <![CDATA[
    select * from notice where nt_cd> #{nt_cd} and rownum=1 order by nt_cd asc
    ]]>
</select>   


</mapper>
