<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.theater.mapper.NoticeMapper">

<sql id="criteria">
  <trim prefix="(" suffix=") AND" prefixOverrides="OR">
    <foreach item="type" collection="typeArr">
            <!-- Criteria->이름 같으면 getTypeArr(자동 호출) 실행 -->
      <trim prefix="OR">
        <choose>
          <when test="type== 'T'.toString()">
            title like '%'||#{keyword}||'%'
          </when>
          <when test="type== 'C'.toString()">
            content like '%'||#{keyword}||'%'
          </when>
        </choose>
      </trim>
    </foreach>
  </trim>
</sql>


<!-- Common -->
<insert id="noticeInsert">
  <selectKey keyProperty="nt_cd" order="BEFORE" resultType="int">
    select notice_seq.nextval from dual
  </selectKey>
  insert into notice (nt_cd,title,content,hits)
  values (#{nt_cd},#{title},#{content},0)
</insert>

<select id="getAdminBoardView" resultType="com.theater.domain.NoticeVO">
select * from notice where nt_cd= #{nt_cd}
</select>


<!-- admin -->
<select id="getNoticeList" resultType="com.theater.domain.NoticeVO">
  <![CDATA[
        SELECT *
        FROM ( SELECT ROWNUM RN,
                A.*
              FROM (SELECT * FROM NOTICE
                    WHERE
        ]]> 
                    <if test="searchType == 'title'">TITLE LIKE '%'||#{searchName}||'%'</if>
                    <if test="searchType == 'content'">CONTENT LIKE '%'||#{searchName}||'%'</if>
                    <if test="searchType == null or searchType == ''"> 1=1</if>
        <![CDATA[
                    ORDER BY NT_CD DESC) A)
        WHERE RN > (#{pageNum}-1) * #{amount} AND RN <= #{pageNum} * #{amount}
        ]]>
<!--     <![CDATA[ -->
<!--       select * from notice where nt_cd > 0 order by nt_cd desc -->
<!--     ]]> -->
</select>

<update id="modify">
  update notice set title= #{title}, content= #{content}
  where nt_cd= #{nt_cd}
</update>

<delete id="delete">
  delete notice where nt_cd= #{nt_cd}
</delete>


<!-- User -->
<!-- 조회수 -->
<update id="getViewCount">
  update notice set hits= hits+ 1 where nt_cd= #{nt_cd}
</update>

<!-- 전체 래코드 갯수 -->
<select id="getTotal" resultType="int">
  SELECT COUNT(*) AS TOTAL FROM NOTICE
  WHERE  <if test="searchType == 'title'">TITLE LIKE '%'||#{searchName}||'%'</if>
         <if test="searchType == 'content'">CONTENT LIKE '%'||#{searchName}||'%'</if>
         <if test="searchType == null or searchType == ''"> 1=1</if>
</select>

<select id="nextPage" resultType="com.theater.domain.NoticeVO">
  <![CDATA[
    select * from notice where nt_cd< #{nt_cd} and rownum=1 order by nt_cd desc
    ]]>
</select>

<select id="prevPage" resultType="com.theater.domain.NoticeVO">
  <![CDATA[
    select * from notice where nt_cd> #{nt_cd} and rownum=1 order by nt_cd asc
    ]]>
</select>


</mapper>
