@charset "UTF-8";
/*                                adminBoardWrite*/
.adminwrite36{
  margin: auto;
}

.adminwrite47 tr th{
  text-align: center;
}

.adminwrite47 input,.adminwrite47 textarea{
  width: 100%;
}

.form-control{
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.2rem 0.2rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #4F5467;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #e9ecef;
  border-radius: 2px;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.adminwrite66{
  line-height: 222px;
}
/*                                adminbutton*/
.adminbutton{
  text-align: center;
  margin-top: 25px;
}
/*                                adminBoardView*/
.adminview45 h2,.adminview45 p{
  text-align: center;
}
/*                                adminEvent*/
.adminevent72 th{
  text-align: center;
  
}
/*                                 adminNotice*/
.admin103{
  float: right;
  border: 1px solid;
}
