@charset "UTF-8";

/* header */
/* .header-nav-wrapper { */
/*   background: url(../images/bg_header.gif) repeat-x 0 0; */
/*   background-position: center; */
/*   background-size: contain; */
/*   height: 120px; */
/*   padding-top: 4px; */
/* } */

/* .header-nav-container { */
/*   position: fixed; */
/* } */

/* .header { */
/* //header */

/* nav */
.nav-line {
  background-color: red;
  border-radius: 50px;
  height: 5px;
  /* background-image: linear-gradient(to right, white 33%, rgba(255, 255, 255, 0) 0%);
  background-position: bottom;
  background-size: 15px 1px;
  background-repeat: repeat-x; */
}

.nav-wrapper {
  /* background: url(../images/bg_header.gif) repeat-x 0 0; */
  /* width: 100%;*/
  height: 94px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-content {
  padding-top: 15px;
}

.movieLogo-wrapper {
  text-align: center;
}

.cgvLogo {
  width: 120px;
  margin-left: 150px;
  /* margin-right: -40px; */
}

.cgvMovie {
  width: auto;
  height: 28px;
}

.nav-inner {
  display: flex;
  /* margin-left: -250px; */
  margin-left: 150px;
  margin-right: auto;
  align-items: center;
  padding-bottom: 15px;
}

.nav-inner>div>button {
  padding-top: 5px;
  font-size: 14px;
  font-weight: bold;
  margin-left: 15px;
}

.search-wrapper {
  margin-left: 70px;
  height: 20px;
}

.search-wrapper>input {
  width: 100px;
  height: 20px;
}

.searchButton {
  margin: 0 !important;
  padding: 2px !important;
  background-color: red;
  color: white;
  width: 30px;
  height: 100%;
  font-size: 10px !important;
}

/* content */
.reserve-container {
  margin-top: 90px;
  display: flex;
  justify-content: center;
  height: 350px;
}

.reserve-container>div {
  border: 1px solid #dddddd;
}

.reserve-title {
  border-bottom: 1px solid #dddddd;
  background-color: #444444;
  text-align: center;
  color: #dddddd;
  padding: 8px;
  font-size: 17px;
  font-weight: bold;
}

.movie-part {
  width: 284px;
  height: 350px;
}

.theater-part {
  width: 264px;
  height: 350px;
}

.day-part {
  width: 91px;
  height: 350px;
}

.time-part {
  width: 384px;
  height: 350px;
}

.sort-wrapper {
  margin: 10px 6px 6px 10px;
  /* padding: 3px; */
  display: flex;
  border-bottom: 1px solid #dddddd;
  font-size: 12px;
}

.sort-wrapper>div {
  padding: 3px;
}

.sort-wrapper>div:hover {
  border-bottom: 1px solid #111111;
}

.sort-selected {
  font-weight: bold;
  border-bottom: 1px solid #111111;
}

.sort-korean {
  margin-left: 6px;
}

.reserve-date {
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 305px;
  overflow: scroll;
  overflow-x: hidden;
}

.ticket_tnb {
  position: relative;
  width: 100%;
  min-width: 996px;
  height: 150px;
  background-color: #1d1d1c;
}

.movie-date-wrapper {
  display: flex;
  border:none;
  justify-content: center;
  align-items: center;
  padding: 5px 2px;
}

.movie-week-of-day {
  margin-left: 5px;
  font-size: 10px;
  width: 12px;
  height: 22px;
  line-height: 22px;
}

.movie-day {
  text-align: center;
  width: 34px;
  height: 22px;
  font-size: 17px;
  font-weight: bold;
}

.saturday {
  color: #31597E;
  font-weight: bold;
}

.sunday {
  color: #AF2D2D;
  font-weight: bold;
}

.movie-date-wrapper-active {
  background-color: black;
}

.movie-date-wrapper-active>* {
  color: white;
}

.theater-wrapper {
  padding-left: 12px;
  padding-top: 15px;
  display: flex;
}

.theater-location-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.theater-place-wrapper {
  padding-right: 2px;
  margin-top: 2px;
  height: 300px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  overflow-x: hidden;
}

.theater-location {
  height: 30px;
  color: #333333;
  font-size: 12px;
  letter-spacing: -0.1em;
  text-align: right;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: middle;
  padding: 6px 6px 6px 0;
  margin-top: 1px;
}

button.theater-location , button.theater-place{
  border: white;
}

.theater-place {
  padding: 6px 5px;
  height: 40px;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
}

.reserve-time {
  width: 300px;
  margin: 0 auto;
}

.reserve-where {
  font-size: 12px;
  margin-top: 20px;
  margin-left: 8px;
  font-weight: bold;
}

.reserve-time-wrapper {
  margin-top: 10px;
}

.reserve-time-button {
  margin-top: 10px;
  border: none;
}

.reserve-time-want {
  letter-spacing: 1px;
  font-size: 12px;
  padding: 3px;
  font-weight: bold;
  border: 1px solid #dddddd;
}

.reserve-time-remain {
  color: #97B68D;
}

.reserve-time-active {
  color: white;
  font-weight: bold;
  background-color:black;
}

.theater-location-active{
  color: white;
  font-weight: bold;
  background-color:black;
}
.theater-place-active {
  color: white;
  font-weight: bold;
  background-color:black;
}

.movie-list-wrapper {
  padding: 4px 15px;
  overflow : scroll;
  overflow-x: hidden;
  flex-direction: column;
  height: 305px;
  border : 1px solid #b3b3b3;
}

.movie-list {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.movie-list-age {
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  /* color: white; */
  font-weight: bold;
  font-size: 12px;
  border-radius: 100%;
  /* background-color: #AF2D2D; */
}

.moveSeatButton {
  font-size: 18px;
  font-weight: bold;
  padding: 5px;
  margin-top: 20px;
  margin-left: 80px;
  border: 1px solid #333333;
}

.moveSeatButton:hover {
  background-color: #333333;
  color: white;
}

.fifteen {
  color: white;
  background-color: #AF2D2D;
}

.eighteen {
  color: white;
  background-color: red;
  font-size: 11px;
}

.all {
  color: white;
  background-color: #52AE35;
  font-size: 11px;
}

.movie-list-title {
  padding: 6px 4px;
  margin-left: 5px;
  font-size: 12px;
}

.movie-list-title-active {
  background-color: #333333;
}

.movie-list-title-active>button {
  font-weight: bold;
  color: white;
}

::-webkit-scrollbar {
  width: 10px;
  /* height: 8px; */
  border: 3px solid #ffffff;
}

::-webkit-scrollbar-track {
  background: #efefef;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, .2)
}

::-webkit-scrollbar-thumb {
  width: 50px;
  height: 50px;
  background: #444444;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, .1)
}

/* content */
.select-container {
  margin-top: 140px;
}

.select-wrapper {
  width: 900px;
  background-color: #F2F0E5;
  margin: 0 auto;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}

.select-title {
  background-color: #444444;
  color: #dddddd;
  font-size: 16px;
  text-align: center;
  padding: 10px;
}

.select-seat-container {
  display: flex;
  /* align-items: center; */
  border-bottom: 2px solid #dddddd;
}

.select-seat-number-container {
  flex-grow: 1;
  border-right: 1px solid #dddddd;
  display: flex;
}

.select-seat-number-wrapper {
  padding: 15px 0 20px 20px;
  flex-grow: 1;
}

.select-seat-ul {
  display: flex;
}

.select-seat-ul>li {
  width: 20px;
  height: 20px;
  border: 1px solid #dddddd;
  text-align: center;
  font-weight: bold;
  /* line-height: 15px; */
  /* padding: 5px; */
  padding: 2px;
  list-style: none;
}

.select-seat-ul>li:hover {
  color: white;
  background-color: #222222;
  cursor: pointer;
}

.select-seat-ul-active {
  color: white;
  background-color: #222222;
}

.select-seat-ul>li:not(:first-child) {
  margin-left: 5px;
}

.select-seat-information {
  flex-grow: 1;
  padding: 15px 0 20px 20px;
}

.select-seat {
  display: flex;
  font-size: 12px;
}

.select-seat:not(:first-child) {
  margin-top: 12px;
}

.select-seat-age {
  width: 40px;
}

.select-seat-number {
  margin-left: 15px;
}

.reserve-number-wrapper {
  flex-grow: 1;
  padding-top: 15px;
  border-left: 1px solid #DDDDDD;
  text-align: center;
}

.reserve-number {
  margin-top: 20px;
  font-size: 34px;
  font-weight: bold;
}

.selected-movie {
  font-size: 20px;
  margin-bottom: 5px;
  font-weight: bold;
}

.select-seat-information-wrapper {
  display: flex;
}

.select-theater-place {
  font-size: 12px;
}

.select-theater-place:not(:last-child) {
  width: 55px;
  border-right: 1px solid #dddddd;
}

.select-theater-place:last-child {
  width: 150px;
  /* border-right: 1px solid #dddddd; */
}

.select-theater-place:not(:first-child) {
  margin-left: 12px;
}

.select-theater-date {
  /*  font-size: 18px;
    margin-top: 8px;
    font-weight: bold; */
  display: flex;
}

.select-theater-date>div {
  font-size: 18px;
  margin-top: 8px;
  font-weight: bold;
}

.theater-time {
  margin-left: 5px;
}

.remain-seats {
  margin-left: 3px;
  color: rgba(255, 0, 0, 0.6);
  font-weight: bold;
}

.selected-seats-wrapper {
  margin-top: 5px;
}

.selected-seats {
  font-size: 13px;
  word-spacing: 2px;
  margin-left: 20px;
}

.selected-seats-title {
  color: black;
  font-size: 13px;
  font-weight: bold;
}

.ticket-price-wrapper {
  margin-top: 5px;
  display: flex;
  align-items: center;
}

.ticket-price-wrapper>div {
  font-weight: bold;
}

.ticket-price-title {
  font-size: 13px;
}

.ticket-price {
  margin-left: 47px;
  font-size: 20px;
}

.reserve-button {
  margin-top: 5px;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 13px;
}

.reserve-button img {
  margin-left: 20px;
  width: 60px;
}

.seat-container {
  margin-top: 20px;
  display: flex;
  height: 500px;
  justify-content: center;
}

.screen-view {
  width: 140px;
  color: #777777;
  padding-top: 30px;
  font-size: 30px;
  text-align: center;
  margin: 0 auto 30px auto;
  border-bottom: 1px solid #666666;
  letter-spacing: 4px;
}

.seat-wrapper {
  background-color: #222222;
  width: 700px;
  height: 460px;
  /* padding-top: 120px; */
}

.seat {
  width: 30px;
  height: 30px;
}

.seat {
  font-size: 13px;
  background-color: #555555;
  color: white;
  border: 1px solid rgba(255, 25, 255, 0.6);
}

.seat:hover {
  background-color: yellow;
  color: white;
  cursor: pointer;
}

.seat:active {
  background-color: green;
  color: white;
}

.clicked {
  background-color: red;
  color: white;
}

.seatButtonWrapper {
  text-align: center;
}

.seatButtonWrapper>input {
  width: 35px;
  height: 30px;
}

.left-margin {
  margin-left: 30px;
}

.right-margin {
  margin-right: 30px;
}

.top-margin {
  margin-top: 30px;
}

.movie-age-btn{
  width: 17%;
  border: 0px;
}

.movie-name-btn{
  width: 205px;;
  border: 0px;
  text-overflow: ellipsis;
}
.movie-list .tk-ep0{
  font-size: 12px;
  font-weight: bold;
  height:29px;
  width:28px;
  color: white;
  background: #5BC77E;
  display: inline-block;
  padding: 6px 4px;
  border-radius: 50px;
}
.movie-list .tk-ep12{
  font-size: 13px;
  height:29px;
  font-weight: bold;
  width:28px;
  color: white;
  background: #0484dfd9;
  display: inline-block;
  padding: 4px 7px;
  border-radius: 50px;
}
.movie-list .tk-ep15{
  font-size: 13px;
  height:29px;
  font-weight: bold;
  width:28px;
  color: white;
  background: #ff8100;
  display: inline-block;
  padding: 4px 7px;
  border-radius: 50px;
}
.movie-list .tk-ep19{
  font-size: 13px;
  height:29px;
  width:28px;
  font-weight: bold;
  color: white;
  background: #ED4C6B;
  display: inline-block;
  padding: 6px 4px;
  border-radius: 50px;
}

.movie-wrapper{
  padding-right: 2px;
  margin-top: 2px;
  height: 300px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  overflow-x: hidden;
}
.clicked {
  color: white;
  font-weight: bold;
  background-color:black;
  
}
.tk-poster{
  height: 150px;
  padding: 9px;
  width: 150px;
}    