@charset "UTF-8";

/*                                adminEvent*/
.adminevent66 th{
  text-align: center;
  
}
.adminevent127 a{
  float: right;
  border: 1px solid;
  padding: 5px;
}

/*                                Event*/

.event9{
  border-bottom: 2px solid #ff0000;
  padding-bottom: 10px;
}

.event9 h2{
  font-weight: bold;
}

.event9 h2:after{
  position: absolute;
  left: 0;
  height: 40px;
  width: 4px;
  background: #e53637;
  content: "";
  box-sizing: border-box;
}

.event13{
  border-bottom: 1px solid #ccc;
}

.event15{
  background: none;
  margin-top: 1rem;
}

.event15 li a{
  padding: 5px 30px;
  font-weight: bold;
  color: #000000;
}

.event15 li a:hover{
  color: #ddd;
}

.event15 li a.on{
  color: #ff0000;
}

.event24{
  background: none;
}

.event24 li a:hover{
  color: #ddd;
}

.event36{
  margin-bottom: 20px;
  margin-top: 25px;
}

.event38{
  border: 1px solid #ccc;
  margin-right: 10px;
}

.event39{
  padding-left: 800px;
}

.event45{
  padding-left: 0px;
}

.event47{
  padding-bottom: 8px;
  padding-top: 6px;
}

.event60>p{
  float: right;
}

.event68{
  max-width: 22%;
}

/*                            하단 배너*/
.event142>img{
  display : block;
  margin : 0 auto;
  width: 1170px;
  height: 250px;
  padding: 50px 0;
}

/*                            view*/
.view36{
  background: #e9ecef;
  margin-bottom: 10px;
}

.breadcrumb38{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    list-style: none;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}

.view58{
  width: 1140px;
}

.


/*                            notice*/

