<!DOCTYPE html>
<html lang="zxx">

<head>
<meta charset="UTF-8">
<meta name="description" content="Anime Template">
<meta name="keywords" content="Anime, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Anime | Template</title>

<!-- Google Font -->
<link
	href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
	rel="stylesheet">

<!-- Css Styles -->
<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
<link rel="stylesheet" href="css/plyr.css" type="text/css">
<link rel="stylesheet" href="css/nice-select.css" type="text/css">
<link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
<link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
<link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header Section Begin -->
	<header class="header">
		<div class="container">
			<div class="row">
				<div class="col-lg-2">
					<div class="header__logo">
						<a href="./index.html"> <img src="img/logo.png" alt="">
						</a>
					</div>
				</div>
				<div class="col-lg-8">
					<div class="header__nav">
						<nav class="header__menu mobile-menu">
							<ul>
								<li class="active"><a href="./index.html">Homepage</a></li>
								<li><a href="./categories.html">Categories <span
										class="arrow_carrot-down"></span></a>
									<ul class="dropdown">
										<li><a href="./categories.html">Categories</a></li>
										<li><a href="./anime-details.html">Anime Details</a></li>
										<li><a href="./anime-watching.html">Anime Watching</a></li>
										<li><a href="./blog-details.html">Blog Details</a></li>
										<li><a href="./signup.html">Sign Up</a></li>
										<li><a href="./login.html">Login</a></li>
									</ul></li>
								<li><a href="./blog.html">Our Blog</a></li>
								<li><a href="#">Contacts</a></li>
							</ul>
						</nav>
					</div>
				</div>
				<div class="col-lg-2">
					<div class="header__right">
						<a href="#" class="search-switch"><span class="icon_search"></span></a>
						<a href="./login.html"><span class="icon_profile"></span></a>
					</div>
				</div>
			</div>
			<div id="mobile-menu-wrap"></div>
		</div>
	</header>
	<!-- Header End -->

	<!-- Hero Section Begin -->

	<section class="hero">

		<div class="container" style="text-align: center;">


			<div class="favorite-wrap"
				style="position: relative; width: 980px; height: 447px; margin: 0 auto; background: url(https://img.cgv.co.kr/r2014/images/common/bg/bg_showtimes_favorite.gif) no-repeat 0 0;">

			</div>

			<h3
				style="margin: 30px 0; background: url(https://img.cgv.co.kr/r2014/images/common/bg/bg_h3_line.jpg) repeat-x 0 50%;">
				<img src="https://img.cgv.co.kr/R2014/images/title/h3_theater.gif"
					alt="THEATER">
			</h3>


		</div>
	</section>
	<!-- Hero Section End -->



	<section class="">
		<div class="container">

			<div class="col-lg-12">
				<div class="">
					<div class="row">
						<div class="col-lg-8 col-md-8 col-sm-8">
							<div class="section-title">
								<h4>CGV대전</h4>
							</div>

						</div>

					</div>

				</div>
				<div>
					<img
						src="https://img.cgv.co.kr/Theater/Theater/2014/1211/CGVgangnam.jpg"
						alt="CGV강남 극장이미지" style="margin-left: 63px;">
				</div>

				<div>
					<img
						src="https://adimg.cgv.co.kr/images//202201/Uncharted/0127_980x90.jpg"
						width="980" height="90" border="0" alt="광고-언차티드"
						style="margin-left: 63px;">
				</div>
			</div>
		</div>
	</section>
	<!-- Product Section End -->

	<ul style="margin: 20px 0 30px 0; text-align: center;">
		<li style="display: inline-block; background: red;"><a href=""
			style="color: black; padding: 10px;"> 상영시간표 </a></li>
		<li style="display: inline-block; background: red"><a href=""
			style="color: black; padding: 10px;"> 위치/주차안내 </a></li>
	</ul>


	<!-- Product Section Begin -->
	<section class="">
		<div class="container">
			<div class="row">
				<div class="col-lg-9">
					<div class="">
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12">
								<div
									style="border-top: solid; border-bottom: solid; padding: 50px 0;">
									<h3>상영시간입력 (슬라이더)</h3>
								</div>
								<div class="section-title"
									style="border-bottom: solid 1px gray; padding: 10px 0;">
									<span>◎조조 ●심야 ＊시간을 클릭하시면 빠른 예매를 하실 수 있습니다.</span>
								</div>
							</div>
						</div>
						<div class="row">

							<div class="col-lg-12 col-md-12 col-sm-12">
								<div class="product__item"
									style="border-bottom: solid 1px gray; padding-bottom: 30px;">
									<div>
										<span
											style="margin: 30px; font-size: larger; font-weight: 900;">⑫
											해적-도깨비 깃발</span>
										<p style="margin: 30px 0 15px 30px;">▶2D 3관 8층[삼화페인트 안심닥터관]총 172석</p>
										<ul style="margin-left: 30px;">
											<li
												style="width: 70px; height: 55px; list-style: none; padding-top: 5px; border: 1px solid #cbcabe; line-height: 1.4; text-align: center;">
												<a href="">7:30<br> <span style="font-size: 11px;">150석</span>
											</a>
											</li>
										</ul>

										<p style="margin: 30px 0 15px 30px;">▶2D 3관 8층[삼화페인트 안심닥터관]총 172석</p>
										<ul style="margin-left: 30px;">
											<li
												style="width: 70px; height: 55px; list-style: none; padding-top: 5px; border: 1px solid #cbcabe; line-height: 1.4; text-align: center;">
												<a href="">7:30<br> <span style="font-size: 11px;">150석</span>
											</a>
											</li>
										</ul>
									</div>
								</div>
							</div>




						</div>
					</div>
					
					
					
				</div>
				<div class="col-lg-3 col-md-6 col-sm-8">
					<div class="product__sidebar">
						<div class="product__sidebar__view">
							<div class="section-title">
								<h5>New Film</h5>
							</div>
							<div class="filter__gallery">
								<img src="https://adimg.cgv.co.kr/images/202201/355/0207_160x300.jpg" width="180" height="300" border="0" alt="355">
								</div>
								
							<img src="https://adimg.cgv.co.kr/images/202201/cgvpass/160x300.png" width="180" height="300" border="0" alt="광고-CGV">
							</div>
						</div>
						
						
						
						
						<div class="product__sidebar__comment">
							<div class="section-title">
								<h5>New Comment</h5>
							</div>
							<div class="product__sidebar__comment__item">
								<div class="product__sidebar__comment__item__pic">
									<img src="img/sidebar/comment-1.jpg" alt="">
								</div>
								<div class="product__sidebar__comment__item__text">
									<ul>
										<li>Active</li>
										<li>Movie</li>
									</ul>
									<h5>
										<a href="#">The Seven Deadly Sins: Wrath of the Gods</a>
									</h5>
									<span><i class="fa fa-eye"></i> 19.141 Viewes</span>
								</div>
							</div>
							
							
							<div class="product__sidebar__comment__item">
								<div class="product__sidebar__comment__item__pic">
									<img src="img/sidebar/comment-4.jpg" alt="">
								</div>
								<div class="product__sidebar__comment__item__text">
									<ul>
										<li>Active</li>
										<li>Movie</li>
									</ul>
									<h5>
										<a href="#">Monogatari Series: Second Season</a>
									</h5>
									<span><i class="fa fa-eye"></i> 19.141 Viewes</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Product Section End -->

	<!-- Footer Section Begin -->
	<footer class="footer">
		<div class="page-up">
			<a href="#" id="scrollToTopButton"><span class="arrow_carrot-up"></span></a>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<div class="footer__logo">
						<a href="./index.html"><img src="img/logo.png" alt=""></a>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="footer__nav">
						<ul>
							<li class="active"><a href="./index.html">Homepage</a></li>
							<li><a href="./categories.html">Categories</a></li>
							<li><a href="./blog.html">Our Blog</a></li>
							<li><a href="#">Contacts</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3">
					<p>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						Copyright &copy;
						<script>
							document.write(new Date().getFullYear());
						</script>
						All rights reserved | This template is made with <i
							class="fa fa-heart" aria-hidden="true"></i> by <a
							href="https://colorlib.com" target="_blank">Colorlib</a>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					</p>

				</div>
			</div>
		</div>
	</footer>
	<!-- Footer Section End -->

	<!-- Search model Begin -->
	<div class="search-model">
		<div class="h-100 d-flex align-items-center justify-content-center">
			<div class="search-close-switch">
				<i class="icon_close"></i>
			</div>
			<form class="search-model-form">
				<input type="text" id="search-input" placeholder="Search here.....">
			</form>
		</div>
	</div>
	<!-- Search model end -->

	<!-- Js Plugins -->
	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/player.js"></script>
	<script src="js/jquery.nice-select.min.js"></script>
	<script src="js/mixitup.min.js"></script>
	<script src="js/jquery.slicknav.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/main.js"></script>


</body>

</html>